@tailwind base;
@tailwind components;
@tailwind utilities;

.nextra-card > div {
  padding: 0 1rem 1rem 1rem;
  position: relative;
  right: 0px;
  order: 2;
}

#card {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
}

.section-surtitle {
  font-size: 1.1rem;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(
    85.52deg,
    rgba(3, 205, 244) -7.27%,
    rgb(79, 138, 254) 108.87%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 0.5rem;
}

/* Logo carousel override */
.logo-carousel-container {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
}

.logo-carousel-container .nextra-content-container {
  max-width: 100% !important;
  padding: 0 !important;
}

/* Create a more seamless animation */
.animate-scroll {
  width: fit-content;
  display: flex;
  will-change: transform;
}

/* Force logos to have transparent background */
.h-10.flex.items-center.bg-transparent img {
  background: transparent !important;
}

/* Subsequent details should have less of a gap */
details + details {
  margin-top: 0.5rem !important;
}

/* Fix detail padding */
details > div {
  padding: 0.25rem;
}

/* Details header should be bold */
details > summary {
  font-weight: 700;
}
